<div class="palazzetti">
    <div class="palazzetti-wrap">
        <div class="palazzetti__blocks">
            <div class="palazzetti__block">
                <div class="palazzetti-img">
                    <img src="../img/pala2.png" alt="">
                    <img src="../img/pala1.jpg" alt="">

                </div>
                <div class="palazzetti-text">
                    <div class="palazzetti-text-wrap">
                        <div class="palazzetti-text-title">Palazzetti</div>
                        <div class="palazzetti-text-subtitle">Порция, Италия | Печи</div>
                    </div>
                    <div class="palazzetti-text-all">Миссия Palazzetti — найти решения для повседневного комфорта
                        каждого, будь то отопление, приготовление пищи или мебель, но которые также приносят пользу
                        нашей планете.
                    </div>
                    <div class="palazzetti-text-href">
                        <a href="">Узнайте больше о бренде</a>
                    </div>
                </div>

            </div>
            <div class="palazzetti__block">
                <div class="palazzetti-img">
                    <img src="../img/pala2.png" alt="">
                    <img src="../img/pala1.jpg" alt="">

                </div>
                <div class="palazzetti-text">
                    <div class="palazzetti-text-wrap">
                        <div class="palazzetti-text-title">Palazzetti</div>
                        <div class="palazzetti-text-subtitle">Порция, Италия | Печи</div>
                    </div>

                    <div class="palazzetti-text-all">Миссия Palazzetti — найти решения для повседневного комфорта
                        каждого, будь то отопление, приготовление пищи или мебель, но которые также приносят пользу
                        нашей планете.
                    </div>
                    <div class="palazzetti-text-href">
                        <a href="">Узнайте больше о бренде</a>
                    </div>
                </div>

            </div>
            <div class="palazzetti__block">
                <div class="palazzetti-img">
                    <img src="../img/pala2.png" alt="">
                    <img src="../img/pala1.jpg" alt="">

                </div>
                <div class="palazzetti-text">
                    <div class="palazzetti-text-wrap">
                        <div class="palazzetti-text-title">Palazzetti</div>
                        <div class="palazzetti-text-subtitle">Порция, Италия | Печи</div>
                    </div>

                    <div class="palazzetti-text-all">Миссия Palazzetti — найти решения для повседневного комфорта
                        каждого, будь то отопление, приготовление пищи или мебель, но которые также приносят пользу
                        нашей планете.
                    </div>
                    <div class="palazzetti-text-href">
                        <a href="">Узнайте больше о бренде</a>
                    </div>
                </div>

            </div>
            <div class="palazzetti__block">
                <div class="palazzetti-img">
                    <img src="../img/pala2.png" alt="">
                    <img src="../img/pala1.jpg" alt="">

                </div>
                <div class="palazzetti-text">
                    <div class="palazzetti-text-wrap">
                        <div class="palazzetti-text-title">Palazzetti</div>
                        <div class="palazzetti-text-subtitle">Порция, Италия | Печи</div>
                    </div>

                    <div class="palazzetti-text-all">Миссия Palazzetti — найти решения для повседневного комфорта
                        каждого, будь то отопление, приготовление пищи или мебель, но которые также приносят пользу
                        нашей планете.
                    </div>
                    <div class="palazzetti-text-href">
                        <a href="">Узнайте больше о бренде</a>
                    </div>
                </div>

            </div>
            <div class="palazzetti__block">
                <div class="palazzetti-img">
                    <img src="../img/pala2.png" alt="">
                    <img src="../img/pala1.jpg" alt="">

                </div>
                <div class="palazzetti-text">
                    <div class="palazzetti-text-wrap">
                        <div class="palazzetti-text-title">Palazzetti</div>
                        <div class="palazzetti-text-subtitle">Порция, Италия | Печи</div>
                    </div>

                    <div class="palazzetti-text-all">Миссия Palazzetti — найти решения для повседневного комфорта
                        каждого, будь то отопление, приготовление пищи или мебель, но которые также приносят пользу
                        нашей планете.
                    </div>
                    <div class="palazzetti-text-href">
                        <a href="">Узнайте больше о бренде</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>