<div class="cart">
    <div class="header-cart">
        <div class="header-container">
            <div class="header-left">
                <a href="#"><i class="fas fa-arrow-left"></i> Вернуться к покупкам</a>
            </div>
            <div class="header-center"><img src="../img/logo.svg" alt=""><span>Интернет-магазин каминов и печей</span>
            </div>
            <div class="header-right">+7 495 125-30-27</div>
        </div>
    </div>

    <div class="cart-wrap">
        <div class="cart-title">Моя корзина</div>

        <div class="cheaper-banner">
            <img src="../img/warn.svg" alt="">
            <span>ВИДЕЛИ ТОВАРЫ КОРЗИНЫ ГДЕ-ТО ДЕШЕВЛЕ?</span>
            <span>Просто укажите вашу цену здесь:</span>
            <div class="cheaper-banner-btn">
                <a href="">ваша цена</a>
            </div>
        </div>
        <div class="products-list-wrap">

            <div class="products-list">
                <div class="product-item">
                    <img src="../img/camincart.png" alt="Товар 1" class="product-image">
                    <div class="product-info">
                        <div class="product-info-wrap">
                            <div class="product-sku"><span>LOKI</span>Код: 7971</div>
                            <div class="product-name">Печь-камин Loki Forest bronze</div>
                        </div>
                        <div class="prices prices-desctop-none">
                            <div class="prices-wrap">
                                <span class="old-price">41 990 ₽</span>
                                <span class="discount">-55%</span>
                            </div>

                            <span class="current-price">18 990 ₽</span>

                        </div>
                        <div class="quantity-control prices-desctop-none">
                            <button class="quantity-btn minus">-</button>
                            <input type="text" class="quantity-input" value="1">
                            <button class="quantity-btn plus">+</button>
                        </div>
                        <div class="prices-summ prices-desctop-none">
                            37 980 ₽
                        </div>
                        <button class="remove-btn"><i class="fas fa-trash-alt"></i></button>
                    </div>
                    <div class="prices-mobile-look">
                        <div class="quantity-control prices-mobile-show">
                            <button class="quantity-btn minus">-</button>
                            <input type="text" class="quantity-input" value="1">
                            <button class="quantity-btn plus">+</button>
                        </div>
                        <div class="prices-summ prices-mobile-show">
                            37 980 ₽
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <img src="../img/caminmini2.png" alt="Товар 1" class="product-image">
                    <div class="product-info">
                        <div class="product-info-wrap">
                            <div class="product-sku"><span>LOKI</span>Код: 7971</div>
                            <div class="product-name">Печь-камин Loki Forest bronze</div>
                        </div>
                        <div class="prices prices-desctop-none">
                            <div class="prices-wrap">
                                <span class="old-price">41 990 ₽</span>
                                <span class="discount">-55%</span>
                            </div>

                            <span class="current-price">18 990 ₽</span>

                        </div>
                        <div class="quantity-control prices-desctop-none">
                            <button class="quantity-btn minus">-</button>
                            <input type="text" class="quantity-input" value="1">
                            <button class="quantity-btn plus">+</button>
                        </div>
                        <div class="prices-summ prices-desctop-none">
                            37 980 ₽
                        </div>
                        <button class="remove-btn"><i class="fas fa-trash-alt"></i></button>
                    </div>
                    <div class="prices-mobile-look">
                        <div class="quantity-control prices-mobile-show">
                            <button class="quantity-btn minus">-</button>
                            <input type="text" class="quantity-input" value="1">
                            <button class="quantity-btn plus">+</button>
                        </div>
                        <div class="prices-summ prices-mobile-show">
                            37 980 ₽
                        </div>
                    </div>
                </div>



                <button class="clear-cart"><i class="fas fa-trash-alt"></i> Очистить корзину</button>
            </div>

            <div class="cart-summary">
                <div class="summary-title">Корзина</div>
                <div class="summary-row">
                    <span>3 товара</span>
                    <span>66560 ₽</span>
                </div>
                <div class="summary-row">
                    <span>Итого к оплате</span>
                    <span>35 480 ₽</span>
                </div>
                <div class="summary-row total-row">
                    <span>Ввести код купона</span>
                </div>
                <div class="cart-summary-btn-wrap">


                <button class="checkout-btn">Оформить заказ</button>
                <button class="one-click-btn">Купить в 1 клик</button>
                </div>
            </div>
        </div>

    </div>
</div>