<div class="advantage">
    <div class="advantage-wrap">
        <div class="advantage-title title-camins">Преимущества работы с нами</div>
        <div class="advantage__blocks">
            <div class="advantage__block">
                <div class="advantage__block-img">
                    <img src="../img/advantage1.svg" alt="">
                </div>
                <div class="advantage__block-title">
                    Лучшие условия
                </div>
                <div class="advantage__block-text">
                    Уверенно предлагаем самые
                    лучшие цены на рынке и
                    бонусы для профессионалов
                </div>
            </div>
            <div class="advantage__block">
                <div class="advantage__block-img">
                    <img src="../img/advant2.svg" alt="">
                </div>
                <div class="advantage__block-title">
                    Персональный менеджер
                </div>
                <div class="advantage__block-text">
                    Профессионально проконсультирует по
                    всем вопросам 24/7 и вовремя
                    предоставит все закрывающие документы
                </div>
            </div>
            <div class="advantage__block">
                <div class="advantage__block-img">
                    <img src="../img/advantage1.svg" alt="">
                </div>
                <div class="advantage__block-title">
                    Лучшие условия
                </div>
                <div class="advantage__block-text">
                    Уверенно предлагаем самые
                    лучшие цены на рынке и
                    бонусы для профессионалов
                </div>
            </div>
            <div class="advantage__block">
                <div class="advantage__block-img">
                    <img src="../img/advantage1.svg" alt="">
                </div>
                <div class="advantage__block-title">
                    Лучшие условия
                </div>
                <div class="advantage__block-text">
                    Уверенно предлагаем самые
                    лучшие цены на рынке и
                    бонусы для профессионалов
                </div>
            </div>
        </div>
    </div>
</div>