<div class="catalog">
    <div class="catalog-wrap">
        <div class="catalog__blocks">
            <div class="catalog__block">
                <div class="catalog__block-cont">
                    <div class="catalog__block-count">
                        232 товара
                    </div>
                    <div class="catalog__block-title">
                        Современные камины
                    </div>
                </div>
                <div class="catalog__block-imgmini">
                    <img src="../img/catmini1.svg" alt="">
                </div>
                <div class="catalog__block-img">
                    <img src="../img/cat3.png" alt="">
                </div>

                <div class="catalog__block-href">
                    Перейти в раздел
                </div>

            </div>
            <div class="catalog__block">
                <div class="catalog__block-cont">
                    <div class="catalog__block-count">
                        232 товара
                    </div>
                    <div class="catalog__block-title">
                        Печи
                    </div>
                </div>
                <div class="catalog__block-imgmini">
                    <img src="../img/catmini2.svg" alt="">
                </div>
                <div class="catalog__block-img">
                    <img src="../img/cat2.png" alt="">
                </div>

                <div class="catalog__block-href">
                    Перейти в раздел
                </div>

            </div>
            <div class="catalog__block">
                <div class="catalog__block-cont">
                    <div class="catalog__block-count">
                        232 товара
                    </div>
                    <div class="catalog__block-title">
                        Каминные топки
                    </div>
                </div>
                <div class="catalog__block-imgmini">
                    <img src="../img/catmini3.svg" alt="">
                </div>
                <div class="catalog__block-img">
                    <img src="../img/cat1.png" alt="">
                </div>

                <div class="catalog__block-href">
                    Перейти в раздел
                </div>

            </div>
{#            <img src="../img/cat2.svg" alt="">#}
{#            <img src="../img/cat3.svg" alt="">#}
        </div>
    </div>
</div>