<div class="request-form">

    <div class="form-title form-title-block">Поможем с выбором</div>
    <div class="form-subtitle form-title-block">Наши эксперты дадут исчерпывающие консультации по выбору продукции и помогут подобрать оптимальный вариант</div>

    <div class="form-content">
        <div class="form-title form-title-none">Поможем с выбором</div>
        <div class="form-subtitle form-title-none">Наши эксперты дадут исчерпывающие консультации по выбору продукции и помогут подобрать оптимальный вариант</div>

        <form class="contact-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="name" class="form-label">Ваше имя:</label>
                    <input type="text" id="name" class="form-input" >
                </div>

                <div class="form-group">
                    <label for="phone" class="form-label">Номер телефона</label>
                    <input type="tel" id="phone" class="form-input">
                </div>

                <button type="submit" class="submit-btn">Отправить заявку</button>
            </div>
        </form>
    </div>
    <div class="form-image">
        <img src="../img/formimg2.png" alt="Форма обратной связи" class="form-img">
    </div>
</div>