<div class="hits">
    <div class="hits-wrap">
        <div class="hits-title">
            Хиты продаж
        </div>
        <div class="hits__blocks">
            {% include '../product/product.twig' %}
            {% include '../product/product.twig' %}

            {% include '../product/product.twig' %}
            {% include '../product/product.twig' %}
            {% include '../product/product.twig' %}
            {% include '../product/product.twig' %}
            {% include '../product/product.twig' %}
            {% include '../product/product.twig' %}


        </div>
        <div class="hits-btn-go ">
            <a href="">Перейти в каталог</a>
        </div>
    </div>
</div>