<div class="bandw">
    <div class="bandw-wrap">
        <div class="bandw__blocks">
            <div class="bandw__block">
                <div class="bandw__block-cont">


                <div class="bandw__block-title">
                    Новинка!
                </div>
                <div class="bandw__block-text">
                    Чугунная печь Norway White - идеальное решение для создания уютной и комфортной атмосферы в вашем доме.
                </div>
                <div class="bandw__block-prices">
                    <div class="bandw__block-discount">
                        <div class="bandw__block-discount-t">
                            75 590 ₽
                        </div>
                        <div class="bandw__block-procent">
                            -47%
                        </div>
                    </div>
                    <div class="bandw__block-price">
                        39 990 ₽
                    </div>
                </div>
                <div class="bandw__block-img">
                    <img src="../img/camin1.png" alt="">
                </div>
                </div>
            </div>
            <div class="bandw__block">
                <div class="bandw__block-cont">


                    <div class="bandw__block-title">
                        Новинка!
                    </div>
                    <div class="bandw__block-text">
                        Чугунная печь Norway White - идеальное решение для создания уютной и комфортной атмосферы в вашем доме.
                    </div>
                    <div class="bandw__block-prices">
                        <div class="bandw__block-discount">
                            <div class="bandw__block-discount-t">
                                75 590 ₽
                            </div>
                            <div class="bandw__block-procent">
                                -47%
                            </div>
                        </div>
                        <div class="bandw__block-price">
                            39 990 ₽
                        </div>
                    </div>
                    <div class="bandw__block-img">
                        <img src="../img/camin2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>