<div class="receive-form">
    <div class="receive-form-wrap">
        <div class="receive-form__blocks">
            <div class="receive-form__block">
                <div class="receive-form-title">
                    Получите партнерские условия работы
                </div>
                <div class="receive-form-subtitle">
                    Заполните форму и мы расскажем обо всех преимуществах
                </div>
                <form action="" class="receive-form-f">
                    <div class="receive-form-column receive-form__name">
                        <label for="name">Ваше ФИО:</label>
                        <input type="text" name="name">
                    </div>
                    <div class="receive-form-column receive-form__phone">
                        <label for="phone">Номер телефона:</label>
                        <input type="tel" name="phone">
                    </div>
                    <div class=" receive-form-column receive-form__comment">
                        <label for="comment">Комментарий:</label>
                        <textarea name="comment" id="" cols="" rows="">

                        </textarea>
                    </div>
                    <div class="receive-form__submit">
                        <input type="submit" value="ПОЛУЧИТЬ">
                        <div class="receive-form-politics">
                            Нажимая кнопку Получить , я соглашаюсь с условиями <a>Политики конфиденциальности</a>
                        </div>

                    </div>
                </form>
                <div class="receive-form__question">
                    Остались вопросы? Звоните!
                </div>
                <div class="receive-form__callback">
                    <img src="../img/phoneform.svg" alt=""><a href="">+7 495 125-30-27</a>
                </div>
            </div>
            <div class="receive-form__block">
                <img src="../img/formimg2.svg" alt="">

            </div>
        </div>


    </div>
</div>