<div class="banner-minimal">
    <div class="banner-minimal-wrap">
        <div class="banner-minimal-text-wrap">
            <div class="banner-minimal-text">
                <div class="banner-minimal-text__title">Работаем с лучшими брендами</div>
                <div class="banner-minimal-text__subtitle">
                    За 20 лет  работы отобрали для Вас лучших на рынке производителей
                </div>

            </div>
        </div>


        <img src="../img/bannermini.jpg" alt="">
    </div>
</div>