<div class="brands">
    <div class="brands-wrap">
        <div class="brands__blocks">
            <div class="brands__block">
                <img src="../img/brand1.svg" alt="">
            </div>
            <div class="brands__block">
                <img src="../img/brand2.svg" alt="">
            </div>
            <div class="brands__block">
                <img src="../img/brand1.svg" alt="">
            </div>
            <div class="brands__block">
                <img src="../img/brand2.svg" alt="">
            </div>
            <div class="brands__block">
                <img src="../img/brand1.svg" alt="">
            </div>
            <div class="brands__block">
                <img src="../img/brand2.svg" alt="">
            </div>
            <div class="brands__block">
                <img src="../img/brand1.svg" alt="">
            </div>

        </div>
    </div>
</div>