<div class="about">
    <div class="about-wrap">
        <div class="about__blocks">
            <div class="about-left">
                <div class="about-left-title">
                    О компании
                </div>
                <div class="about-left-text">
                    История бренда Loki началась в 1994 году. Когда компания только начала возить печи и камины из
                    Европы и Америки. За годы работы у нас появился огромный опыт, благодаря чему мы выбираем только
                    лучших производителей. Покупатели высоко оценивают качество нашей продукции. Будучи уверенными в
                    своём товаре, мы даём дополнительную гарантию в 4 года!
                </div>
                <div class="about-left__blocks">
                    <div class="about-left__block">
                        <div class="about-left__block-title">
                            20 лет
                        </div>
                        <div class="about-left__block-subtitle">
                            работаем для Вас
                        </div>
                    </div>
                    <div class="about-left__block">
                        <div class="about-left__block-title">
                            20 лет
                        </div>
                        <div class="about-left__block-subtitle">
                            работаем для Вас
                        </div>
                    </div>
                    <div class="about-left__block">
                        <div class="about-left__block-title">
                            20 лет
                        </div>
                        <div class="about-left__block-subtitle">
                            работаем для Вас
                        </div>
                    </div>
                    <div class="about-left__block">
                        <div class="about-left__block-title">
                            20 лет
                        </div>
                        <div class="about-left__block-subtitle">
                            работаем для Вас
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-right">
                <img src="../img/about.jpg" alt="">
            </div>
        </div>
    </div>
</div>