<div class="product-card">

    <div class="product-image">
        <img src="../img/item.png" alt="Название товара" class="product-img">
    </div>
    <div class="product-card__top">
        <img src="../img/checking.svg" alt="">
        <img src="../img/addlikes.svg" alt="">

    </div>
    <div class="product-details">
        <div class="product-details__cont">
            <div class="product-title">LOKI</div>
            <div class="product-article">
                Код: 1234
            </div>
        </div>

        <div class="product-description">
            Чугунная печь Norway Green - идеальное решение для создания уютной и комфортной атмосферы в вашем доме.
        </div>
        <div class="product-wrap">
            <div class="product-prices">
                <div class="product-prices-wrap">
                    <span class="current-price">32 780 ₽ </span>    <span class="product-badge">-27%</span>
                </div>
                <span class="old-price">23 980 ₽</span>
            </div>



            <button class="add-to-cart-btn">

                В корзину
            </button>
        </div>
        <div class="product-yandex">
            <img src="../img/plus.svg" alt="">
            1 199 баллов Плюса кэшбэк в
            <img src="../img/ya-pay.svg" alt="">
        </div>
        <div class="product-split">
            <img src="../img/cask.svg" alt="">
            х4  платежа в
            <img src="../img/ya-split.svg" alt="">
        </div>


    </div>
</div>