<div class="banner-light">
    <div class="banner-light-wrap">
        <div class="banner-light-title">
            PALAZZETTI
        </div>
        <div class="banner-light-subtitle">
            Производитель печей - Порция, италия
        </div>

        <img src="../img/light2.png" alt="">
        <div class="banner-light-text">
            <div class="banner-light-text-title">
                Palazzetti – это синоним качественных каминов и печей.
            </div>
            <p>Мы — семья, которая видит в работе три поколения Palazzetti и которая уже более 60 лет дает свое имя
                новой
                идее домашнего комфорта: эффективной, простой в управлении, настраиваемой и устойчивой. Вместе с лучшими
                профессионалами и проверенными работниками мы проектируем и строим камины, печи на пеллетах и ​​дровах,
                котлы на пеллетах, кухни, печи и барбекю с дизайном и высокими технологическими стандартами. Мы
                Palazzetti:
                опыт, надежность, исследования, инновации.</p>
            <p>Наша миссия — найти решения для повседневного комфорта каждого, будь то отопление, приготовление пищи или
                мебель, но которые также приносят пользу нашей планете.
                Мы заботимся о сохранении и защите природных ресурсов, сокращении выбросов от наших печей и каминов, но
                при
                этом гарантируя высокое качество продуктов и услуг, и в то же время осознавая нашу социальную
                ответственность и способствуя созданию информации и осведомленности.
                Мы хотим не просто производить больше, а лучше, работая над защитой окружающей среды, как путем
                разработки
                экологически совместимой продукции, так и путем скрупулезного соблюдения правил производства с низким
                воздействием на окружающую среду: дифференциации, переработки, безотходного производства и защиты
                территории
                и людей.</p>
            <a href="">Развернуть полное описание ↓</a>
        </div>
        <div class="banner-light-show">
            <span>Перейти в полный каталог продукции Palazzetti</span>
        </div>
    </div>
</div>