.banner-light{
  @include padding-vertical-30();
  .banner-light-wrap{
    @include container();
    text-align: center;
  }
    img{
      max-width: 100%;
      max-height: 600px;
      object-fit: fill;
    }
    .banner-light-title{
      font-family: GT Eesti Pro Display;
      font-weight: 300;
      font-size: 38.63px;
      line-height: 48px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;

    }
    .banner-light-subtitle{
      font-family: GT Eesti Pro Display;
      font-weight: 400;
      font-size: 11.06px;
      line-height: 16px;
      letter-spacing: 1.2px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    .banner-light-text{
      @include padding-vertical-30();
      text-align: start;
      .banner-light-text-title{
        text-align: start;
        font-family: GT Eesti Pro Display;
        font-weight: 500;
        font-size: 38.63px;
        line-height: 36px;
        letter-spacing: 1.2px;
        vertical-align: middle;

      }
      a{
        font-family: GT Eesti Pro Display;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1.2px;
        vertical-align: middle;
        color: black;
      }
    }
    .banner-light-show{
      height: 48px;
      margin-top: 50px;
      border-left: 1px solid #E4E7EA;
      background: #F1F3F4;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: GT Eesti Pro Display;
      font-weight: 300;
      font-size: 13.89px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;

    }

  @media #{$mobile-only-two} {
    .banner-light-text {

      .banner-light-text-title {
        font-family: GT Eesti Pro Display;
        font-weight: 500;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 1.2px;
        vertical-align: middle;
      }

    }
  }
}