<div class="header">
    <div class="header-wrap">
        <div class="header-cont">
            <div class="header-logo">
                <img src="../img/logo.svg" alt="">
            </div>
            <div class="header-text">
                Интернет-магазин каминов и печей
            </div>
        </div>

        <div class="header-menu">
            <ul>
                <li><a href="">КАТАЛОГ</a></li>
                <li><a href="">ДОСТАВКА И ОПЛАТА</a></li>

                <li><a href="">ДЛЯ ПРОФЕССИОНАЛОВ</a></li>
                <li><a href="">О КОМПАНИИ</a></li>
                <li><a href="">+7 495 125-30-27</a></li>

            </ul>
        </div>
        <div class="header-mini">
            <img src="../img/search.svg" alt="" class="header-search">
            <img src="../img/phone 1.svg" alt="" class="header-phone">
{#            <img src="../img/close.svg" alt="" class="header-close">#}
            <img src="../img/like.svg" alt="" class="header-like">
            <img src="../img/gamb.svg" alt="" class="header-gamb">

        </div>

{#        <i class="fal fa-search"></i>#}
    </div>
</div>