<footer class="footer">
    <div class="footer__container">
        <div class="footer__brand-mobile-top">
            <img src="../img/logodark.svg" alt="Логотип" >
            <div class="footer__slogan">Интернет-магазин каминов и печей</div>
        </div>
        <div class="footer__columns">
            <!-- Первая колонка -->
            <div class="footer__column footer__column-hide-mobile">
                <div class="footer__brand">
                    <img src="../img/logodark.svg" alt="Логотип" >
                    <div class="footer__slogan">Интернет-магазин каминов и печей</div>
                </div>

                <form class="footer__subscribe">
                    <input type="email" placeholder="Подпишитесь на скидки" class="footer__input">
                    <button class="footer__submit" type="submit" class=""><img src="../img/arrow2.svg" alt=""></button>
                </form>
                <div class="footer__privacy">
                    <div>Подписываясь на email-рассылку, вы соглашаетесь с <a class="footer__privacy-link">политика конфиденциальности</a></div>


                </div>

                <div class="footer__social">
                    <p class="footer__social-title">Присоединяйтесь к нам:</p>
                    <div class="footer__social-icons">
                        <a href="#" class="footer__social-link">
                            <img src="../img/youtube.svg" alt="YouTube">
                        </a>
                        <a href="#" class="footer__social-link">
                            <img src="./img/vk.svg" alt="ВКонтакте">
                        </a>
                        <a href="#" class="footer__social-link">
                            <img src="../img/rk.svg" alt="Facebook">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Вторая колонка -->
            <div class="footer__column">
                <div class="footer__menu-title">Каталог продукции</div>
                <ul class="footer__menu">
                    <li><a href="#" class="footer__link">Современные камины</a></li>
                    <li><a href="#" class="footer__link">Печи</a></li>
                    <li><a href="#" class="footer__link">Каминные топки</a></li>
                </ul>

                <div class="footer__menu-title">Бренды</div>
                <ul class="footer__menu">
                    <li><a href="#" class="footer__link">Бренд 1</a></li>
                    <li><a href="#" class="footer__link">Бренд 2</a></li>
                    <li><a href="#" class="footer__link">Бренд 3</a></li>
                </ul>
            </div>

            <!-- Третья колонка -->
            <div class="footer__column footer__column-three">
                <div class="footer__column-wrap">
                    <div class="footer__menu-title">Покупателям</div>
                    <ul class="footer__menu">
                        <li><a href="#" class="footer__link">Личный кабинет</a></li>
                        <li><a href="#" class="footer__link">Избранное </a></li>
                        <li><a href="#" class="footer__link">Доставка и оплата</a></li>
                        <li><a href="#" class="footer__link">Блог: гид по выбору</a></li>
                        <li><a href="#" class="footer__link">О компании</a></li>
                        <li><a href="#" class="footer__link">Рассрочка и кредит</a></li>
                        <li><a href="#" class="footer__link">Обмен и возврат</a></li>

                    </ul>
                </div>
                <div class="footer__column-wrap footer__column-four">

                <div class="footer__menu-title">ПРОЕКТНЫЕ ПОСТАВКИ</div>
                <ul class="footer__menu">
                    <li><a href="#" class="footer__link">Для профессионалов</a></li>
                </ul>
                </div>

            </div>

            <!-- Четвертая колонка -->
            <div class="footer__column footer__column-contacts">
                <div class="footer__menu-title">Контакты</div>
                <ul class="footer__contacts">
                    <li class="footer__contact-item footer__contact-item-tel">
                        <a href="tel:+7 495 125-30-27">+7 495 125-30-27</a>
                    </li>
                    <li class="footer__contact-item">
                        <div>ежедневно:</div>
                        <a > с 10.00 до 20.00 МСК</a>
                    </li>

                    <li class="footer__contact-item">
                        <div>whatsapp</div>
                        <a href="mailto:info@example.com">79000000000</a>
                    </li>
                    <li class="footer__contact-item">
                        <div>telegram</div>
                        <span>@loki.ru</span>
                    </li>
                    <li class="footer__contact-item">
                        <img src="../img/mail.svg" alt="">
                        <a href="mailto:info@example.com">mail@loki.ru</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Подвал -->
        <div class="footer__bottom">
            <p class="footer__copyright">© ООО ”ЛОКИ” РЕКВИЗИТЫ ИНН КПП АДРЕС</p>
            <a href="#" class="footer__bottom-link">Политика конфиденциальности</a>
            <img src="../img/fotbrend.svg" alt="">
        </div>
    </div>
</footer>