<div class="banner-simple">
    <div class="banner-simple-wrap">
        <div class="banner-simple-text-wrap">
            <div class="banner-simple-text">
                <div class="banner-simple-text__title">Партнерская программа для профессионалов</div>
                <div class="banner-simple-text__subtitle">
                    Дизайнерам, архитекторам и строителям
                </div>
                <div class="banner-simple-btn">
                    <a href=""> Получить условия работы</a>
                </div>
            </div>
        </div>


        <img src="../img/bannersimple.jpg" alt="">
    </div>
</div>