<div class="banner">


{#    {% include './menu.twig' %}#}

    <div class="banner-wrap">
        <div class="banner-text">

            <div class="banner-text-cont">
                <h1 class="banner-title">Доставка по всей России</h1>
                <div class="banner-subtitle">
                    Отправим завтра
                </div>

            </div>
            <div class="banner-button">
                <a href="">Условия доставки</a>
            </div>


        </div>

        <div class="banner-img">
            <img src="../img/baner1.svg" alt="">
        </div>

    </div>
</div>