<div class="banner-mini">



    <div class="banner-mini-wrap">
        <div class="banner-mini-text">

            <div class="banner-mini-text-cont">
                <div class="banner-mini-mini-title">Доставка по всей России</div>
                <div class="banner-mini-subtitle">
                    Отправим завтра
                </div>

            </div>
            <div class="banner-mini-button">
                <a href="">Условия доставки</a>
            </div>


        </div>

        <div class="banner-mini-img">
            <img src="../img/baner1.svg" alt="">
        </div>

    </div>
</div>